{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block content %}
<div class="hero-banner">
    <div class="slideArrow">
        <button id="prevSlide" class="slide-arrow left">&#10094;</button>
        <button id="nextSlide" class="slide-arrow right">&#10095;</button>
    </div>

    <div class="hero-content">
        <h1>Events</h1>
        <div class="container">
            <h2>Explore Our Services</h2>
            <p>
                Explore the breathtaking beauty of northern Pakistan with us. Plan your perfect trip today!
            </p>
        </div>
        <p>Your gateway to the beauty of northern Pakistan.</p>
    </div>
</div>
<div class="event">
    <h2>Evenets comming soon!</h2>
</div>
{% endblock %}